{% extends "shop/base.html" %}
{% load static %}




{% block sideNav %}

<!-- Sidenav -->
<div id="sidenav-1" class="sidenav" role="navigation" data-mdb-hidden="true" data-mdb-accordion="true">
  <ul class="sidenav-menu">
    <li class="sidenav-item">
      <a class="sidenav-link"><i class="fas fa-layer-group pe-3"></i><span>Categories</span></a>

      <ul class="sidenav-collapse show">
        {% for c in categories %}

        <li class="sidenav-item">
          <a href="{{ c.get_absolute_url }}" class="sidenav-link">{{ c.slug }}</a>
        </li>


        <li class="sidenav-item">
          <a href="{% url "shop:product_list" %}" class="sidenav-link">All</a>
        </li>
        {% endfor %}

      </ul>
    </li>
    <li class="sidenav-item">
      <a class="sidenav-link"><i class="fas fa-gem pe-3"></i><span>Brands</span></a>
      <ul class="sidenav-collapse">
        <li class="sidenav-item">
          <a class="sidenav-link">Brand 1</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link">Brand 2</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link">Brand 3</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link">Brand 4</a>
        </li>
      </ul>
    </li>
    <li class="sidenav-item">
      <a class="sidenav-link"><i class="fas fa-gift pe-3"></i><span>Discounts</span></a>
      <ul class="sidenav-collapse">
        <li class="sidenav-item">
          <a class="sidenav-link">-70%</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link">-50%</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link">Any</a>
        </li>
      </ul>
    </li>
    <li class="sidenav-item">
      <a class="sidenav-link"><i class="fas fa-fire-alt pe-3"></i><span>Popular</span></a>
      <ul class="sidenav-collapse">
        <li class="sidenav-item">
          <a class="sidenav-link">Jewelry</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link">Snickers</a>
        </li>
      </ul>
    </li>
    <li class="sidenav-item">
      <a class="sidenav-link"><i class="fab fa-hotjar pe-3"></i><span>Today's bestseller</span></a>
      <div class="card mx-3">
        <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/shoes%20(3).jpg" class="w-100" />
          <a href="#!">
            <div class="mask">
              <div class="d-flex justify-content-start align-items-end h-100">
                <h5><span class="badge bg-danger ms-2">-10%</span></h5>
              </div>
            </div>
            <div class="hover-overlay">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
            </div>
          </a>
        </div>
        <div class="card-body">
          <a href="" class="text-reset">
            <p class="mb-2">Pink snickers</p>
          </a>
          <p class="mb-0">
            <s>$61.99</s><strong class="ms-2 text-danger">$50.99</strong>
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- Sidenav -->

{% endblock %}


{% block backImage %}

<div id="intro" class="bg-image shadow-1-strong" style="
background-image: url(https://mdbootstrap.com/img/new/slides/310.jpg);
height: 500px;
">
  <div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="container d-flex align-items-center justify-content-center text-center h-100">
      <div class="text-white">
        <h1 class="mb-3">My Shop</h1>
        <h4 class="mb-4">Promotions up to 70%!</h4>
        <a class="btn btn-outline-light btn-lg mb-3" href="#!" role="button">See the promotional offer
          <i class="fas fa-gem ms-1"></i>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block content %}

<!--Main layout-->
<main class="mb-6">
  <div class="container">
    <!-- Section: Product details -->
    <section class="mb-9">
      <div class="row gx-lg-5">
        <div class="col-md-6 mb-4 mb-md-0">
          <!-- Gallery -->
          <div class="ecommerce-gallery vertical" data-mdb-zoom-effect="true" data-mdb-auto-height="true">
            <img src="{{ product.image.url }}" alt="Gallery image 1" class="
                        ecommerce-gallery-main-img
                        active
                        w-100
                        rounded-4
                        " />
          </div>
          <!-- Gallery -->
        </div>

        <div class="col-md-6 mb-4 mb-md-0">
          <!-- Details -->
          <div>
            <h1 class="fw-bold mb-3 h5">{{ product.name }}</h1>
            <a href="{{ product.category.get_absolute_url }}" class="text-muted mb-3">
              <p class="mb-2 text-uppercase small">{{ product.category }}</p>
            </a>

            <div class="d-flex text-primary">
              <ul class="rating mb-3 me-2" data-mdb-toggle="rating" data-mdb-readonly="true" data-mdb-value="4">
                <li>
                  <i class="far fa-star fa-sm text-primary ps-0" title="Bad"></i>
                </li>
                <li>
                  <i class="far fa-star fa-sm text-primary" title="Poor"></i>
                </li>
                <li>
                  <i class="far fa-star fa-sm text-primary" title="OK"></i>
                </li>
                <li>
                  <i class="far fa-star fa-sm text-primary" title="Good"></i>
                </li>
                <li>
                  <i class="far fa-star fa-sm text-primary" title="Excellent"></i>
                </li>
              </ul>
              <a href=""><strong class="me-2">4/5</strong>(2 reviews)</a>
            </div>

            <h5 class="mb-3">

              <span class="align-middle">${{ product.price }}</span>
            </h5>

            <p class="text-muted">
              {{ product.description }}
            </p>

            <!-- <div class="table-responsive">
                <table class="table table-sm table-borderless mb-0">
                  <tbody>
                    <tr>
                      <th class="ps-0 w-25" scope="row">
                        <strong>Model</strong>
                      </th>
                      <td>Shirt 5407X</td>
                    </tr>
                    <tr>
                      <th class="ps-0 w-25" scope="row">
                        <strong>Material</strong>
                      </th>
                      <td>Cotton 80%</td>
                    </tr>
                    <tr>
                      <th class="ps-0 w-25" scope="row">
                        <strong>Delivery</strong>
                      </th>
                      <td>USA, Europe</td>
                    </tr>
                  </tbody>
                </table>
              </div> -->

            <hr class="my-5" />

            <form action="{% url "cart:cart_add" product.id %}" method="post">
              {% csrf_token %}
              <div class="row">
                <!-- Quantity -->
                <div class="col-md-6 mb-4">

                  <div class="form-outline">

                    {{ cart_product_form.quantity }}
                    <label for='id_quality' class="form-label">Quantity</label>
                  </div>

                  {{ cart_product_form.override }}


                  {% comment %} <label class="form-label" for="typeNumber">Quantity</label> {% endcomment %}

                </div>
                <!-- Size -->


                <!-- Colors -->

              </div>

              <input type="submit" value="Add to cart" class="btn btn-primary btn-rounded me-2">

              {% comment %} <button type="button" class="btn btn-primary btn-rounded me-2">
                <i class="fas fa-cart-plus me-2"></i>Add to cart
              </button> {% endcomment %}
              <button href="#!" type="button" class="btn btn-danger btn-floating" data-mdb-toggle="tooltip"
                title="Add to wishlist">
                <i class="fas fa-heart"></i>
              </button>
            </form>

            <!-- clear button -->
            {% comment %} <form method="post" action="{% url " cart:cart_clear" %}">
              {% csrf_token %}

              <input type="submit" value="clear" class="btn btn-danger">
            </form>
          </div> {% endcomment %}


          <!-- Details -->
        </div>
      </div>
    </section>
    <!-- Section: Product details -->






    <!-- Section: Reviews -->

    <!-- Section: Reviews -->
  </div>
</main>
<!--Main layout-->


{% endblock %}